<% if @fans.any? %>
<h3>Fans</h3>
<ul>
  <% @fans.each do |user| %>
  <li>          
    <%= link_to user.name, user %>
  </li>
  <% end %>
</ul>
<% end %>

<h3>Genres</h3>
<ul>
  <% @genres.each do |genre| %>
  <li><%= genre.name %></li>
  <% end %>
</ul>