<% content_for(:title, "#{@movie.title}  (#{@movie.released_on.year})") %>

<article id="movie" class="movie">
  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
    <h2>Released: <%= @movie.released_on %></h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>
  
  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %> 
  </h3>
  
  <p>
    <%= pluralize(@fans.size, 'fan') %> 
  </p>
  
  <% if current_user %>
    <% if @current_favorite %>
      <%= button_to "Unfave", movie_favorite_path(@movie, @current_favorite), method: :delete %>
    <% else %>  
      <%= button_to "Fave", movie_favorites_path(@movie) %>
    <% end %>
  <% end %>
  

  
  
  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>
  
  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>
  
  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>
  
  <h3>Average Review</h3>
  <p>
    <%= format_average_stars(@movie) %>
  </p>
  
  
  
  <h3>Reviews</h3>
  <p>
    <%= link_to pluralize(@movie.reviews.size, "review"), 
                  movie_reviews_path(@movie) %>
  </p>
  
  <footer>
    <%= link_to "Write Review", new_movie_review_path(@movie), 
                class: 'button ok review' %>

    <nav>
      <% if current_user_admin? %>
        <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
        <%= link_to 'Delete', @movie, 
                    class: 'button',
                    method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </nav>
  </footer>
</article>

<% content_for(:side) do %>
  <%= render 'movie_sidebar_extras' %>
<% end %>