 <% if @favorite_movies.any? %>
  <h3>Favorite Movies</h3>
  <ul>
    <% @favorite_movies.each do |movie| %>
      <li>
        <%= link_to movie.title, movie %>
      </li>
    <% end %>
  </ul>
  <% end %>