<aside id="sidebar">
  <nav>
    <ul>
      <li class="movies">
        <%= nav_link_to 'Released', movies_path %>
      </li>
      <li class="movies">
        <%= nav_link_to 'Hit Movies', filtered_movies_path(:hits) %>
      </li>
      <li class="movies">
        <%= nav_link_to 'Flop Movies', filtered_movies_path(:flops) %>
      </li>
      <li class="movies">
        <%= nav_link_to 'Upcoming Movies', filtered_movies_path(:upcoming) %>
      </li>
      <li class="movies">
        <%= nav_link_to 'Recent Movies', filtered_movies_path(:recent) %>
      </li>
      <% if current_user_admin? %>
        <li class="create-movie">
          <%= link_to 'Add New Movie', new_movie_path, class: 'button' %>
        </li>
      <% end %>
    </ul>
  </nav>

<%= content_for(:side) %>
</aside>

